# This file is automatically converted. Check all lines for mistakes.
# OLD: \.o$
*.o
*.pyc
# TODO: images$
# TODO: ^optimization/data/
# TODO: ^optimization/smac/
# TODO: ~$
# TODO: ^pddl-generators/assembly/assembly$
# TODO: ^pddl-generators/blocksworld/3ops/2pddl/2pddl$
# TODO: ^pddl-generators/blocksworld/4ops/2pddl/2pddl$
# TODO: ^pddl-generators/blocksworld/bwstates.1/bwstates$
# TODO: ^pddl-generators/blocksworld/matching/2pddl-typed$
# TODO: ^pddl-generators/blocksworld/matching/2pddl-untyped$
# TODO: ^pddl-generators/briefcaseworld/briefcaseworld$
# TODO: ^pddl-generators/depots/depots$
# TODO: ^pddl-generators/driverlog/dlgen$
# TODO: ^pddl-generators/elevators/generate_data$
# TODO: ^pddl-generators/elevators/generate_pddl$
# TODO: ^pddl-generators/ferry/ferry$
# TODO: ^pddl-generators/freecell/freecell$
# TODO: ^pddl-generators/fridge/fridge$
# TODO: ^pddl-generators/goldminer/gold-miner-generator$
# TODO: ^pddl-generators/grid/grid$
# TODO: ^pddl-generators/gripper/gripper$
# TODO: ^pddl-generators/grippers/grippers$
# TODO: ^pddl-generators/hanoi/hanoi$
# TODO: ^pddl-generators/logistics/logistics$
# TODO: ^pddl-generators/maintenance/maintenance$
# TODO: ^pddl-generators/miconic-adl/miconic$
# TODO: ^pddl-generators/miconic-simple/miconic$
# TODO: ^pddl-generators/miconic-strips/miconic$
# TODO: ^pddl-generators/movie/movie$
# TODO: ^pddl-generators/mprime/mprime$
# TODO: ^pddl-generators/mystery/mystery$
# TODO: ^pddl-generators/nomystery/build/
# TODO: ^pddl-generators/nomystery/nomystery$
# TODO: ^pddl-generators/nomystery/old/Makefile.depend$
# TODO: ^pddl-generators/nomystery/old/nomystery$
# TODO: ^pddl-generators/nomystery/release-search$
# TODO: ^pddl-generators/nomystery/CMakeFiles
# TODO: ^pddl-generators/nomystery/CMakeCache.txt
# TODO: ^pddl-generators/nomystery/cmake_install.cmake
# TODO: ^pddl-generators/nomystery/nomystery_opt
# TODO: ^pddl-generators/npuzzle/n-puzzle-generator$
# TODO: ^pddl-generators/openstacks/generate_pddl$
# TODO: ^pddl-generators/openstacks/generate_problems$
# TODO: ^pddl-generators/pathways/pathways$
# TODO: ^pddl-generators/rover/rovgen$
# TODO: ^pddl-generators/satellite/satgen$
# TODO: ^pddl-generators/schedule/schedule$
# TODO: ^pddl-generators/storage/storage$
# TODO: ^pddl-generators/sokoban/random/sokoban-generator-typed$
# TODO: ^pddl-generators/sokoban/random/sokoban-generator-untyped$
# TODO: ^pddl-generators/tidybot/tidybot-.*-snapshot-standalone.jar$
# TODO: ^pddl-generators/tpp/tpp$
# TODO: ^pddl-generators/trucks/trucks$
# TODO: ^pddl-generators/trucks/adl2strips/ff$
# TODO: ^pddl-generators/trucks/adl2strips/lex.fct_pddl.c$
# TODO: ^pddl-generators/trucks/adl2strips/lex.ops_pddl.c$
# TODO: ^pddl-generators/trucks/adl2strips/scan-fct_pddl.tab.c$
# TODO: ^pddl-generators/trucks/adl2strips/scan-ops_pddl.tab.c$
# TODO: ^pddl-generators/tsp/tsp$
# TODO: ^pddl-generators/turnandopen/turnandopen$
# TODO: ^pddl-generators/tyreworld/tyreworld$
# TODO: ^pddl-generators/visitall/grid$
# TODO: ^pddl-generators/zenotravel/ztravel$

