# This file is automatically converted. Check all lines for mistakes.
*.code-workspace
*.o
*.pyc
*-checkpoint.ipynb
*.ipynb_checkpoints/
.vscode/
images/
optimization/.venv/
optimization/data/
optimization/smac/
pddl-generators/assembly/assembly
pddl-generators/blocksworld/3ops/2pddl/2pddl
pddl-generators/blocksworld/4ops/2pddl/2pddl
pddl-generators/blocksworld/bwstates.1/bwstates
pddl-generators/blocksworld/matching/2pddl-typed
pddl-generators/blocksworld/matching/2pddl-untyped
pddl-generators/briefcaseworld/briefcaseworld
pddl-generators/depots/depots
pddl-generators/driverlog/dlgen
pddl-generators/elevators/generate_data
pddl-generators/elevators/generate_pddl
pddl-generators/ferry/ferry
pddl-generators/freecell/freecell
pddl-generators/fridge/fridge
pddl-generators/goldminer/gold-miner-generator
pddl-generators/grid/grid
pddl-generators/gripper/gripper
pddl-generators/grippers/grippers
pddl-generators/hanoi/hanoi
pddl-generators/logistics/logistics
pddl-generators/maintenance/maintenance
pddl-generators/miconic-adl/miconic
pddl-generators/miconic-simple/miconic
pddl-generators/miconic-strips/miconic
pddl-generators/movie/movie
pddl-generators/mprime/mprime
pddl-generators/mystery/mystery
pddl-generators/nomystery/build/
pddl-generators/nomystery/nomystery
pddl-generators/nomystery/old/Makefile.depend
pddl-generators/nomystery/old/nomystery
pddl-generators/nomystery/release-search
pddl-generators/nomystery/CMakeFiles
pddl-generators/nomystery/CMakeCache.txt
pddl-generators/nomystery/cmake_install.cmake
pddl-generators/nomystery/Makefile
pddl-generators/nomystery/nomystery_opt
pddl-generators/npuzzle/n-puzzle-generator
pddl-generators/openstacks/generate_pddl
pddl-generators/openstacks/generate_problems
pddl-generators/pathways/pathways
pddl-generators/rover/rovgen
pddl-generators/satellite/satgen
pddl-generators/schedule/schedule
pddl-generators/storage/storage
pddl-generators/sokoban/random/sokoban-generator-typed
pddl-generators/sokoban/random/sokoban-generator-untyped
pddl-generators/tidybot/tidybot-.*-snapshot-standalone.jar
pddl-generators/tpp/tpp
pddl-generators/trucks/trucks
pddl-generators/trucks/adl2strips/ff
pddl-generators/trucks/adl2strips/lex.fct_pddl.c
pddl-generators/trucks/adl2strips/lex.ops_pddl.c
pddl-generators/trucks/adl2strips/scan-fct_pddl.tab.c
pddl-generators/trucks/adl2strips/scan-ops_pddl.tab.c
pddl-generators/tsp/tsp
pddl-generators/turnandopen/turnandopen
pddl-generators/tyreworld/tyreworld
pddl-generators/visitall/grid
pddl-generators/zenotravel/ztravel
unused-images/
pddl-generators/termes/boards/random_*
